.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  height: 37px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background: var(--l_grey);
  padding-left: 10px;
  color: var(--text);
  font-size: 14px;
}

.label {
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 15px;
}

.list_item {
  padding: 10px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 7px 1px 15px -6px rgba(0, 0, 0, 0.2);
}

.list_item:hover {
  background: rgb(130, 142, 166, 0.2);
}

.selected_list_item {
  padding: 10px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--green_selected);
  box-shadow: 7px 1px 15px -6px rgba(0, 0, 0, 0.15);
}

.btn {
  cursor: pointer;
}

.down_arrow {
  position: absolute;
  right: 10px;
  top: 55px;
  cursor: pointer;
}

.selected_ingredients {
  color: var(--text);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
