.list_item {
	padding: 10px;
	border: 1px solid var(--border);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 7px 1px 15px -6px rgba(0, 0, 0, 0.2);
}

.list_item:hover {
	background: rgb(130, 142, 166, 0.2);
}
