.ingredient_item {
  border: 0.5px solid var(--border);
  display: flex;
  align-items: center;
  height: 22px;
  min-width: 500px;
  justify-content: space-between;
  padding: 10px;
}

.odd_item_color {
  background: var(--l_grey);
}

.even_item_color {
  background: white;
}

.icon {
  cursor: pointer;
}
