.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: var(--l_grey);
  border-bottom: 2px solid var(--border);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0px 25px;
}

.logo {
  color: var(--text);
}

.user {
  color: var(--blue);
}
