.form_container {
  min-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.input {
  height: 37px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background: var(--l_grey);
  padding-left: 10px;
  margin: 0px 0 18px 0;
  color: var(--text);
  font-size: 14px;
}

.label {
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.file_input {
  display: flex;
  flex-direction: column;
}

.file_input_cancel {
  font-size: 12px;
  color: var(--text);
  margin-top: 5px;
}

.submit_btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background: var(--text);
  color: white;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
}
