@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body,
html {
	font-family: Montserrat;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	height: 100%;
}

:root {
	--text: #828ea6;
	--l_grey: #fafafc;
	--border: #e8e8f0;
	--weight_400: 400;
	--green_selected: rgb(136, 188, 127, 0.2);
}

.weight_300 {
	font-weight: 300;
}

.text_center {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
}

.input {
	height: 37px;
	border-radius: 5px;
	border: 1px solid var(--border);
	background: var(--l_grey);
	padding-left: 10px;
	margin: 0px 0 18px 0;
	color: var(--text);
	font-size: 14px;
}

.label {
	color: var(--text);
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

.file_input {
	display: flex;
	flex-direction: column;
}

.file_input_cancel {
	font-size: 12px;
	color: var(--text);
	margin-top: 5px;
}

.submit_btn {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--border);
	background: var(--text);
	color: white;
	font-size: 16px;
	margin-top: 25px;
	cursor: pointer;
}

.radio_btn {
	padding: 5px;
	color: var(--text);
	font-size: 14px;
}

.radio_group {
	display: flex;
	flex-direction: column;
}
