.sidenav {
	width: 300px;
	background: var(--l_grey);
	border-right: 2px solid var(--border);
	position: fixed;
	bottom: 0;
	top: 80px;
}

/* 
@media only screen and (max-width: 900px) {
	.sidenav {
		max-width: 150px;
	}
} */
